<ion-view class="oNama">
	<ion-content class="scroll-content ionic-scroll">
	<div class="oNamaInfo">
		<h3>О школи</h3>
		<p>Висока техничка школа струковних студија из Ниша је угледна високошколска институција са 37 година дугом традицијом у високом образовању. У склопу реформе високог образовања, Школа је 2007. године постала акредитована самостална државна установа која остварује основне струковне и специјалистичке студије (први и други степен високог образовања) у оквиру научног поља техничко-технолошких наука.
          Сви студијски програми, како на основним тако и на специјалистичким студијама, су акредитовани, урађени по принципима Болоњске декларације и усаглашени са одредбама Закона о високом образовању.
          Вршећи самовредновање, Школа својом политиком квалитета тежи константном побољшању наставног процеса чиме се постиже квалитетније студирање.
    </p>
    <div class="oNamaSlike">
      <img src="img/sema_stepena.png"  class="semaStepena"/>
      <img src="img/zgrada.jpg"  class="zgradaSkole"/>
    </div>
    <div class="semaStepenaText">
			<p>Након завршених основних студија стиче се први степен високог образовања и
        стручни назив (звање) струковни инжењер одговарајуће области (енг. bachelor appl.),
         а након завршених специјалистичких студија стиче се други степен високог образовања и
         стручни назив (звање) специјалиста одговарајуће области.
      </p>
		</div>
	</br>
	</div>
  <div class="oNamaBottom">
  	<div id="map" class="map" data-tap-disabled="true"></div>
  </div>
	</ion-content>
</ion-view>
