<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-list class="listaSmerova">
      <ion-item class="item item-divider">
        <p>Основне струковне студије</p>
      </ion-item>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/industrijsko.gif"> Индустријско инжењерство</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/drumski.gif"> Друмски саобраћај</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/komunikacione.gif"> Комуникационе технологије</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/savremene.gif"> Савремене рачунарске технологије</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/gradjevinsko.gif"> Грађевинско инжењерство</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/osnovne/zastita-zivotne.gif"> Заштита животне средине</a>
    </ion-list>
  </ion-content>
</ion-view>
