<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-list>
        <ion-item class="item item-divider">
          <p>Индустријско инжењерство</p>
        </ion-item>
        <ion-item href="#/raspored-single/ii1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/ii2">
          <p>Друга година</p>
        </ion-item>
        <ion-item href="#/raspored-single/ii3">
          <p>Трећа година</p>
        </ion-item>
        <ion-item class="item item-divider">
          <p>Друмски саобраћај</p>
        </ion-item>
        <ion-item href="#/raspored-single/ds1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/ds2">
          <p>Друга година</p> 
        </ion-item>
        <ion-item href="#/raspored-single/ds3">
          <p>Трећа година</p>
        </ion-item>
        <ion-item class="item item-divider">
          <p>Комуникационе технологије</p>
        </ion-item>
        <ion-item href="#/raspored-single/kt1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/kt2">
          <p>Друга година</p>
        </ion-item>
        <ion-item href="#/raspored-single/kt3">
          <p>Трећа година</p>
        </ion-item>
        <ion-item class="item item-divider">
          <p>Савремене рачунарске технологије</p>
        </ion-item>
        <ion-item href="#/raspored-single/srt1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/srt2">
          <p>Друга година</p>
        </ion-item>
        <ion-item href="#/raspored-single/srt3">
          <p>Трећа година</p>
        </ion-item>
        <ion-item class="item-divider">
          <p>Грађевинско инжењерство</p>
        </ion-item>
        <ion-item href="#/raspored-single/gi1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/gi2">
          <p>Друга година</p>
        </ion-item>
        <ion-item href="#/raspored-single/gi3">
          <p>Трећа година</p>
        </ion-item>
        <ion-item class="item item-divider">
          <p>Заштита животне средине</p>
        </ion-item>
        <ion-item href="#/raspored-single/zzs1">
          <p>Прва година</p>
        </ion-item>
        <ion-item href="#/raspored-single/zzs2">
          <p>Друга година</p>
        </ion-item>
        <ion-item href="#/raspored-single/zzs3">
          <p>Трећа година</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
