<ion-view>
  <ion-content class="scroll-content ionic-scroll">
    <ion-list class="listaSmerova">
      <ion-item class="item item-divider">
        <p>Специјалистичке струковне студије</p>
      </ion-item>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/inzenjerstvo.png"> Инжењерство заштите животне средине</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/bezbednost.png"> Безбедност друмског саобраћаја</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/komunikacione.png"> Комуникационе технологије</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/savremene.png"> Савремене рачунарске технологије</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/komunalno.png"> Комунално инжењерство</a>
      <a href="#" class="item"><img src="file:///android_asset/www/img/spec/industrijsko.png"> Индустријска екологија</a>
    </ion-list>
  </ion-content>
</ion-view>
