<ion-view class="upis">
	<ion-content class="scroll-content ionic-scroll">
	<div class="upisInfo">
		<h3>Упис</h3>
		<p>Кандидати приликом пријаве на конкурс подносе на увид ОРИГИНАЛНА ДОКУМЕНТА, а уз пријавни лист подносе фотокопије ових докумената, и то:</p>
      <p>- сведочанства свих разреда средње школе,</p>
      <p>- диплому о положеном матурском испиту,</p>
      <p>- доказ о уплати накнаде за полагање пријемног испита у износу од 4.000,00 динара на жиро рачун Школе број:  840-1758666-57, број модела  97, позив на број (одобрење)  94-126-100502041.</p>
      <p>- кандидати су обавезни да на полагање пријемног испита понесу са собом личну карту или пасош.</p>
    <div class="upisUplatnica">
      <img src="img/uplatnica.png"/>
    </div>
    <div class="upisTekst">
			<p>Упис 2015 / 2016</p>
      <p>Висока техничка школа струковних студија у Нишу и ове године врши упису студената на основне струковне студије.</p>
      <p>Ученици средњих школа у четворогодишњем трајању могу се уписати на један од следећих акредитованих студијских програма:</p>
      <p>•   Индустријско инжењерство</p>
      <p>•   Савремене рачунарске технологије</p>
      <p>•   Комуникационе технологије</p>
      <p>•   Грађевинско инжењерство</p>
      <p>•   Заштита животне средине</p>
      <p>Поред освојених бодова из средње школе (максимално 40), који зависе од просечних оцена на крају године,
        студенти полажу пријемни испит из математике (максимално 60 бодова), након чега се врши сабирање бодова и израда ранг листе.
      </p>
      <p>Како би омогућили будућим студентима да се што боље припреме за пријемни испит, али и касније студирање, Школа организује припремну наставу.</p>
      <p>Припремна настава за полагање пријемног испита из математике одржаће се од 15. до 26. јуна 2015. године у времену од 16 до 20 часова.</p>
      <p>Припремна настава траје 40 часова. Кандидати уз пријаву за припремну наставу достављају доказ о уплати износа од 4.400,00
        динара на жиро рачун Школе број: 840-1758666-57, позив на број (одобрење)  10-2015. У наведени износ је урачунат информатор
        са урађеним задацима за пријемни испит који кандидат добија приликом подношења пријаве. Уколико је кандидат раније купио
        информатор онда уплаћује 4.000,00 динара на исти жиро рачун.
      </p>
    </div>
    <div class="upisUplatnica">
      <img src="img/uplatnica_za_pripremnu_nastavu.png"/>
    </div>
    <div class="upisTekst">
      <p>Обрасци пријава се налазе у библиотеци Школе, пријаве се могу подносити сваког радног дана од 8 до 14 часова у библиотеци Школе.</p>
      <p>До тада, можете сами да се припремате за пријемни испит коришћењем информатора Школе, који садржи основне информације о школи, студијским програмима, као и Збирку решених задатака са претходних пријемних испита. </p>
    </div>
	</br>
	</div>
	</ion-content>
</ion-view>
