/* Header */
.header-logo {
  height: 40px;
}
.hideButton {
  display: none;
}
/* SideMenu */
.sideMenu {
	text-align: center;
}
.sideMenu a {
  font-size: 23px;
}

.sideMenu img {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sideMenuRight {
	background-color: #fff;
	text-align: center;
	color: #838383;
}
.sideMenuRight a {
	font-family: LatoBold;
	background-color: #f0f0f0;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
  height: 80px;
}
.sideMenuRight .item {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.sideMenuRight a {
  font-size: 20px;
}
.sideMenuRight .rightImage {
  margin-top: 5px;
  height: 35px;
  float: left;
}

.sideMenuRight p {
	text-align: left;
	font-family: LatoLight;
	font-size: 11px;
	padding-top: 10px;
	padding-left: 10px;
}
.sideMenuRight img {
	vertical-align: middle;
}
.sideMenuRight span {
	vertical-align: middle;
}
/* Lista smerova */
.listaSmerova img {
  vertical-align: middle;
}
.listaSmerova a {
  font-size: 20px;
}

/* O nama */
.oNamaInfo {
	text-align: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.oNamaSlike {
  max-width: 500px;
  margin: 0 auto;
}
.zgradaSkole {
  width: 60%;
}
.semaStepena {
  width: 33%;
  float: left;
}
.semaStepenaText {
  margin-top: 10px;
}
.oNama h3 {
	font-family: LatoRegular;
	color: #111212;
	text-align: center;
	font-size: 22px;
}
.oNama p {
	text-align: left;
	font-family: LatoRegular;
	font-size: 16px;
	color: #525252;
}
.oNamaBottom {
  padding-left: 15px;
  padding-right: 15px;
}
#map {
  float: right;
	width: 52%;
  height: 300px;
}

/* Obavestenja Pocetna */
.obavestenja {
  white-space: pre-line;
  text-align: center;
  font-size: 20px;
}


/* Upis */
.upis {

}
.upisInfo {
  text-align: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.upis p {
  text-align: left;
	font-family: LatoRegular;
	font-size: 16px;
	color: #525252;
}
.upis h3 {
  font-family: LatoRegular;
	color: #111212;
	text-align: center;
	font-size: 22px;
}
.upisUplatnica {
  margin: 0 auto;
}
.upisUplatnica img {
  width: 70%;
  max-width: 500px;
}

/* Kontakt */
.kontakt button {
  float: left;
}
.kontakt p {
  float: left;
  font-family: LatoRegular;
  margin-top: 17px;
}
.kontaktTelefon1 button {
  float: left;
}
.kontaktTelefon2 button {
  float: left;
}
.kontaktTelefon3 button {
  float: left;
}
.kontatTitle {
  padding-left: 15px;
  padding-right: 15px;
  font-family: LatoRegular;;
  text-align: center;
}

/* Studije Single view */
.studijeSingle h2 {
  padding-bottom: 20px;
  border-bottom: 2px solid #CECECE;
  text-align: center;
}
.studijeSingle h3 {
  font-weight: bold;
}
.studijeSingle p {
  font-size: 16px;
}

/* FONTS */
@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.ttf);
}
