/* Header */
.header-logo {
  height: 40px;
}
.hideButton {
  display: none;
}
/* SideMenu */
.sideMenu {
	text-align: center;
}
.sideMenu img {
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sideMenuRight .item {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.sideMenuRight a {
  font-size: 22px;
}
.sideMenuRight .rightImage {
  height: 40px;
  float: left;
}
/* Lista smerova */
.listaSmerova img {
  vertical-align: middle;
}
.listaSmerova a {
  font-size: 20px;
}

/* O nama */
.oNamaInfo {
	text-align: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.oNamaSlike {
  max-width: 500px;
  margin: 0 auto;
}
.zgradaSkole {
  width: 60%;
}
.semaStepena {
  width: 33%;
  float: left;
}
.semaStepenaText {
  margin-top: 10px;
}
.oNama h3 {
	font-family: LatoRegular;
	color: #111212;
	text-align: center;
	font-size: 22px;
}
.oNama p {
	text-align: left;
	font-family: LatoRegular;
	font-size: 12px;
	color: #525252;
}
.oNamaBottom {
  padding-left: 15px;
  padding-right: 15px;
}
#map {
  float: right;
	width: 52%;
  height: 300px;
}


/* Upis */
.upis {

}
.upisInfo {
  text-align: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.upis p {
  text-align: left;
	font-family: LatoRegular;
	font-size: 12px;
	color: #525252;
}
.upis h3 {
  font-family: LatoRegular;
	color: #111212;
	text-align: center;
	font-size: 22px;
}
.upisUplatnica {
  margin: 0 auto;
}
.upisUplatnica img {
  width: 70%;
  max-width: 500px;
}
.upisTekst {

}
/* FONTS */
@font-face {
    font-family: LatoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.ttf);
}
